body {
  background-color: #baf6cf;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.subcontainer {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subcontainer fieldset {
  width: 100%;
  margin: 5%;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
}



.form-container {
  display: flex;
  flex-direction: column;
}



/* Styles Products */

.product-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 5px;
}

.product-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.product-columns li {
  border: 1px solid #ccc;
  padding: 10px;
}