body {
  background-color: #baf6cf;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 20px;
}

.secondary-forms {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.new-product-form {
  grid-column: 1 / span 2;
}

.fieldset {
  border: 1px solid #ccc;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  margin-left: 5px;
}

.product-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-gap: 5px;
}

.product-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.product-columns li {
  border: 1px solid #ccc;
  padding: 10px;
}

.message {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  z-index: 1000;
}

.message.error {
  background-color: #ec5d5d;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #45a049;
}

form label {
  margin-top: 10px;
}

form input,
form select,
form button {
  margin-top: 5px;
}

fieldset h2 {
  margin-top: 0;
}

/* Login form styles */
.login-container {
  width: 300px;
  margin: auto;
}

#loginForm {
  display: flex;
  flex-direction: column;
}

#loginForm label {
  margin-bottom: 5px;
}

#loginForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Updated button styles for forms */
input[type="submit"],
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049;
}

a {
  color: white;
}